<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
<head>
<title><%= @chapter_title %></title>
<link href="styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div>

<%= @chapter_html %>

</div>
</body>
</html>