h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.full-page-img {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.full-page-img img {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}